<div *ngIf="lat && lng"  >
  
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window  >
          <h6>lat : {{lat}} </h6> <h6>lng : {{lng}}</h6>
          <button (click)="addmark()" >Add Mark</button>
        </agm-info-window>
      </agm-marker>
    
    </agm-map>

    <agm-marker *ngFor="let marker of markers"
    [latitude]="marker.location[0]"
    [longitude]="marker.location[1]">
    <agm-info-window>
      <h3><strong>Location Details</strong></h3>
      <p>You are {{ marker.distance }} kilometers from this point</p>
    </agm-info-window>
  </agm-marker>
</div>
    


   