
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Login" *ngIf="!(afAuth.user | async)">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="UsersProfiles" *ngIf="afAuth.user | async; ">Users Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="Plantcare">Plant Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="News">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="Uploads">Uploads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="Gallerys">Gallerys</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " routerLink="Addfanerinfo">Addfanerinfo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="GoogleMap">GoogleMap</a>
      </li>
    </ul>
  </nav>




  



